/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white : rgba(255,255,255,1);

  --border-gray: rgb(40, 40, 40);
  --gray:#161414;
  --light-gray:rgb(221, 221, 221) ;

  --font-mono: "JetBrains Mono", monospace;
  --font-primary: "Inter", sans-serif;;
}

[data-theme= 'light']{
  --bg-color : rgb(235, 235, 235);
  --nav-color: rgb(255, 255, 255);
  --text-color: rgb(15, 15, 15);
  --text-color-2: rgb(31, 31, 31);
  --all-dark:rgb(0, 0, 0);
  --border-gray:rgb(219, 219, 219);
  --text-color-05: rgb(15, 15, 15,0.5);
  --black-white: rgb(255, 255, 255);
  --black-white-0: rgba(255, 255, 255, 0);

  --nav-color: rgb(255, 255, 255);
  --nav-icon-box: rgb(235, 235, 235);
  --nav-icon-color: rgb(124,124,124);
  --nav-highlight: rgb(209, 209, 209);
  --nav-icon-border: rgb(96,96,96);
  --nav-icon-higlight: rgb(38, 38, 38);
}

[data-theme= 'dark']{
  --bg-color : rgb(15, 15, 15);
  --text-color: rgb(245, 245, 245);
  --text-color-2: rgb(204, 204, 204);
  --text-color-05: rgb(190, 190, 190,0.5);
  --all-dark:rgb(255, 255, 255);
  --border-gray:rgb(40, 40, 40);

  --black-white: rgb(0,0,0);
  --black-white-0: rgba(0, 0, 0, 0);

  --nav-color: rgb(24, 24, 24);
  --nav-icon-box: rgb(38, 38, 38);
  --nav-icon-color: rgb(124,124,124);
  --nav-highlight: rgb(58,58,58);
  --nav-icon-border: rgb(96,96,96);
  --nav-icon-higlight:rgb(235, 235, 235);
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body::-webkit-scrollbar {
  width: 4px;
  display: none;
}

body::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--border-gray);

}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
  font-weight: 500;
  line-height: 1.25rem;
  letter-spacing: -0.035rem;
}

h1 {
  font-size: 56px;
  font-weight: 500;
  line-height:64px;
  color: var(--text-color);
  letter-spacing: -0.09rem;
}

h2 {
  font-size: 42px;
  line-height:normal;
  color: var(--text-color);
}

p {
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  color: var(--text-color);
}

.nav {
  position: fixed;
  left: 50%;
  bottom: 32px;
  transform: translateX(-50%);
  padding: 0.8rem .8rem ;
  border-radius: 1rem;
  border: 1px solid var(--border-gray);
  background: var(--nav-color);
  backdrop-filter: blur(5px);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.20);
  z-index: 999;
}

.nav ul {
  display: flex;
  gap: 24px;
}



.nav-link a {
  width: 48px;
  height: 48px;
  display: flex;
  align-items:center ;
  justify-content: center;
  color: var(--light-gray);
  transition: all 300ms ease-in-out;
  border-radius: 9px;
  background: var(--nav-icon-box);
}

.tool-tip {
  position: absolute;
  font-family: var(--font-mono);
  color: var(--nav-icon-higlight);
  font-weight: 200;
  font-size: 14px;
  top: -24px;
  opacity: 0;
  visibility: hidden;
  filter: invert(75%);
  transition: opacity 0.4s ease, visibility 0.3s ease;
}


.nav-link:hover .tool-tip{
  visibility: visible;
  opacity: 1;
}

.nav-link:focus .tool-tip{
  visibility: visible;
  opacity: 1;
}

.nav-link a:hover {
  background: var(--nav-highlight);
}

.nav-link a:focus    {
  background: var(--nav-highlight);
}

.nav-link svg path {
  fill: var(--nav-icon-color) !important;
  transition: all 300ms ease-in-out!important;
}


.activeLink {
  position: relative;
  /* background-color: var(--nav-highlight); */
  transition: all 300ms ease-in-out!important;
}

.activeLink svg path {
  fill: var(--nav-icon-higlight) !important;
}


/* .activeLink::before{
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 22px;
  border-radius: 50%;
  height: 5px;
  width: 5px;
  background-color: rgb(211, 211, 211);
} */



.canvas-el {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  /* filter: blur(2px); */
}

.hero-wrapper{
  width:700px ;
  margin: 0 auto;
  padding-left: 56px ;
  /* position: absolute;
  z-index: 10;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  color: var(--light-gray);
  pointer-events: none;
  text-wrap: nowrap;
}


.profile-img {
  width: 64px;
  height: 64px;
  background-image: url(/public/assets/various/image.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

.terminal {
  width: 64px;
  height: 64px;
  background-image: url(/public/assets/various/terminal.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.figma {
  width: 64px;
  height: 64px;
  background-image: url(/public/assets/various/figma.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.mumbai {
  width: 64px;
  height: 64px;
  background-image: url(/public/assets/various/mumbai.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}



.highlight-text-italic {
  font-style: italic;
  font-weight: 500;
  letter-spacing: normal;
  color: var(--text-color);
}

.highlight-text{
  background:linear-gradient(180deg, var(--all-dark) 0%, var(--text-color) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  /* font-style: italic; */
}

.highlight-text-mono {
  font-family: "JetBrains Mono", monospace;
  margin: 18px 2px 10px;
  color: var(--text-color);
}

.hero-wrapper p{
  margin: 10px 0px;
  font-weight: 400;
  font-weight: 14px;
  line-height: 1.6rem ;
  letter-spacing: -0.02rem;
  color: var(--text-color-2);

    width: 60ch;
    text-wrap: wrap;

}

.dotted-line {
  width: 100%;
  height: 1px;
  border-top: 2px dashed var(--border-gray);
  margin: 16px 0px;
}

.social-links {
  position: absolute;
  display: flex;
  gap: 10px;
  pointer-events:all;
  top: 14px;
  left: 14px;
}

.link-box {
  width: 48px;
  height: 48px;
  display: flex;
  align-items:center ;
  justify-content: center;
  border-radius: 9px;

  border: 1px solid var(--border-gray);
  background:var(--nav-color);
  font-size: 14px;
  /* box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.04); */
  transition: all 300ms ease-in-out;
}

.link-box:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 3px 1px rgba(0, 0, 0, 0.02);
  /* background: var(--nav-highlight); */
}

.link-box svg path {
  fill: var(--nav-icon-higlight) !important;
}

.title-wrapper {
  max-width: 768px;
  margin: 56px auto 24px;
}
.title-wrapper h2 {

  line-height:52px ;
}

.title-wrapper p {
  line-height: 24px;
  width: 48ch;
}

.projects-wrapper{

  margin: 0 auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2,1fr);
  place-items: center;

}

.project-card {

  text-decoration: none;
  color: white;
  border-radius: 16px;
  /* overflow: hidden; */

  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border-gray);
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  transform: scale(1.0);
  transition: all 300ms cubic-bezier(0.25, 1, 0.5, 1);
}


/* background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.40) 71.5%, rgba(0, 0, 0, 0.00) 100%); */

.project-info {
  padding: 1.4rem;
  display: flex;
  align-items: flex-end;
  background-color: var(--nav-color);
  backdrop-filter:blur(2px);
  position: absolute;
  color: var(--text-color);
  font-size: 24px;
  bottom: -2px;
  left: -2px;
  z-index: 8;
  width: 100.4%;
  /* height: 10%; */
  border-radius: 0 0 18px 18px;
}

.project-detail img {
  width: 100%;
  height: auto;
}

.project-detail {
  max-width: 800px;
  margin: 0 auto;
}

.archive-wrapper {
  /* max-width: 768px; */
  margin: 0 auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3,1fr);
}

.archive-card {
  border-radius: 0.75rem;
  border: 1px solid var(--border-gray);
  background: var(--black-white);
  margin-bottom: 16px;
  height: 450px;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  overflow: hidden;
}

.archive-card img {
  width: 100%;
  height: auto;
}

.archive-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-items: center;
  padding-bottom: 18px;
}

.archive-info {
  padding: 1.4rem;
  display: flex;
  align-items: flex-end;
  background-color: var(--nav-color);
  backdrop-filter:blur(2px);
  position: absolute;
  color: var(--text-color);
  font-size: 24px;
  bottom: -2px;
  left: -2px;
  z-index: 8;
  width: 100.4%;
  border-top: 1px solid var(--border-gray) ;
  /* border-radius: 0 0 18px 18px; */
}

.toggle-wrapper {
  position: absolute;
  top: 14px;
  right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.toggle-wrapper h6 {
  color: var(--text-color-05);
  font-family: var(--font-mono);
  font-size: 12px;
  text-transform: capitalize;
}

/* The switch - the box around the slider */
.toggle-container {
  width: 48px;
  height: 28px;
  position: relative;
}

/* Hide default HTML checkbox */
.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch {
  width: 100%;
  height: 100%;
  display: block;
  background-color: #d4d4d4;
  border-radius: 16px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}


/* The slider */
.slider {
  width: 22px;
  height: 22px;
  position: absolute;
  left: calc(50% - 22px/2 - 10px);
  top: calc(50% - 22px/2);
  border-radius: 50%;
  background: #FFFFFF;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15), 0px 3px 1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.checkbox:checked + .switch {
  background-color: #34C759;
}

.checkbox:checked + .switch .slider {
  left: calc(50% - 22px/2 + 10px);
  top: calc(50% - 22px/2);
}


@media screen and (max-width:1200px){
  .hero-wrapper {
    width: 800px;
  }


  .hero-wrapper h1 {
    font-size: 56px;
  }

  .project-card {
    width: 100%;
    height: 600px;
  }

  .profile-img {
    height: 56px;
    width: 56px;
  }

  .terminal {
    height: 56px;
    width: 56px;
  }

  .figma {
    height: 56px;
    width: 56px;
  }

  .mumbai {
    height: 56px;
    width: 56px;
  }

  .archive-wrapper {
    grid-template-columns: repeat(2,1fr);
  }

}


@media screen and (max-width:992px){
  .hero-wrapper {
    width: 90%;
    padding-left: 24px;
  }

  .hero-wrapper h1 {
    font-size: 48px;
    line-height: 56px;
  }

  .title-wrapper h2 {
    font-size: 36px;
    line-height:48px ;
  }

  .hero-wrapper p {
    width: 60ch;
    text-wrap: wrap;
  }

  .projects-wrapper{
    grid-template-columns: repeat(1,1fr);
    place-items: center;
  }
  .archive-wrapper {
    grid-template-columns: repeat(2,1fr);
  }



}


@media screen and (max-width:768px){
  .hero-wrapper {
    width: 90%;
    padding-left:0px;
  }

  .hero-wrapper h1 {
    font-size: 36px;
  }
  .hero-wrapper p {
    font-size: 14px;
    width: 80%;
  }

  .project-card {
    width: 100%;
    height: 420px;
  }

  .social-links {
    flex-wrap: wrap;
  }

  .nav-link {
    font-size: 14px;

  }

  .profile-img {
    height: 48px;
    width: 48px;
  }

  .terminal {
    height: 48px;
    width: 48px;
  }

  .figma {
    height: 48px;
    width: 48px;
  }

  .mumbai {
    height: 48px;
    width: 48px;
  }
  .link-box {
    width: 36px;
    height: 36px;
  }

  .link-box svg {
    width: 18px;
    height: 18px;
  }

  .dotted-line{
    margin: 10px 0px;
  }

  .hero-wrapper p {
    font-size: 14px;

    text-wrap: wrap ;
  }

  .project-info{
    padding: 01rem;

  }

  .project-info h3{
    font-size: 24px;
  }

  .archive-wrapper {
    grid-template-columns: repeat(2,1fr);
  }

  .archive-card {
    height: 380px;
  }

}

@media screen and (max-width:576px){
  .hero-wrapper {
    width: 96%;
    padding-left:0px;
  }
  .hero-wrapper h1 {
    font-size: 32px;
    line-height: 48px;
  }

  .profile-img {
    height: 40px;
    width: 40px;
  }

  .terminal {
    height: 40px;
    width: 40px;
  }

  .figma {
    height: 40px;
    width: 40px;
  }

  .mumbai {
    height: 40px;
    width: 40px;
  }
  .project-info h3{
    font-size: 18px;
  }

  .archive-wrapper {
    grid-template-columns: repeat(1,1fr);
  }
}

